*{
    padding: 0;
    margin: 0;
}
body{
  font-family: "Young Serif", serif;
  font-weight: 400;
  font-style: normal;
}
.container{
    padding: 50px;
}
.section-one{
    background:linear-gradient(#000000,#000000,#000000);
    color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.section-one__contact{
    background: linear-gradient(#0111ff,#00f2fe);
    color: white;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: inline-block;
    margin-top: 10px;
    border-radius: 5px;
}
.section-one__name{
    font-size: 60px;
    background-image: linear-gradient(to right,#e200f2,#fba607,#0575e6,#64f38c);
    -webkit-background-clip: text;
    color: transparent;
    background-size: 300%;
    background-position: -100%;
    animation:animatedtext 3s infinite alternate-reverse;

}
@keyframes animatedtext
{
    to{
        background-position: 100%;
    }
}
.section-one__role{
    font-size: 30px;
    margin-top: 10px;
}
.section-two,.section-three,.section-four,.section-five{
    margin-top: 20px;
}
.section-two__desc,.section-three__desc,.section-four__desc,.section-five__desd{
    margin-top: 10px;
}
.section-five{
    background-color: black;
    color: white;
    padding: 20px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    
    border-radius: 8px;
}
.section-five__title a{
    color: skyblue;
}
.section-three li,.section-four li{
    list-style: none;
}
.section-three{
    background: linear-gradient(#ff00b3,#00d5ff);
    
    color: black;
    padding: 20px;
    display: inline-block;
    height: 280px;
    border-radius: 10px;
    vertical-align: top;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.section-four{
   background:linear-gradient(#01f0fd,rgb(255, 0, 221));
    color: black;
    padding: 20px;
    display: inline-block;
    height: 250px;
    border-radius: 10px;
    vertical-align: top;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.contact-form{
    margin-top: 20px;
}
.contact-form__input,.contact-form__textarea,.contact-form__submit{
    margin-top: 10px;
}
.contact-form__input{
    padding: 10px;
    border: none;
    border-bottom: solid black 1px;
}
.contact-form__textarea{
    padding: 10px;
    border: none;
    border: solid black 1px;
}
.contact-form__submit{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: orangered;
    color: black;
    border: none;
}
.flex{
    display: flex;
    gap: 20px;
    
}
@media  screen and (max-width:600px) {
    .flex{
        flex-direction: column;
    }
    
}
body{
            background: linear-gradient(to bottom, pink,blue);
            
    }
    